.documentation img {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.documentation p, .documentation ul, .documentation ol {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;

}

.documentation table {
	margin-top: 10px;
	margin-bottom: 10px;
	border-collapse: collapse;
}

.documentation tr, .documentation th, .documentation td {
	border: 0.5px solid lightgrey;
}
