.h-8 {
	height: 8%;
	overflow: hidden;
}

.h-10 {
	height: 10%;
	overflow: hidden;
}

.h-30 {
	height: 30%;
	overflow: hidden;
}

.h-55 {
	height: 55%;
	overflow: hidden;
}

.h-60 {
	height: 60%;
	overflow: hidden;
}

.h-65 {
	height: 65%;
	overflow: hidden;
}

.h-80 {
	height: 80%;
	overflow: hidden;
}
