.h-8 {
	height: 8%;
	overflow: hidden;
}

.h-10 {
	height: 10%;
	overflow: hidden;
}

.h-30 {
	height: 30%;
	overflow: hidden;
}

.h-55 {
	height: 55%;
	overflow: hidden;
}

.h80 {
	height: 80%;
	overflow: hidden;
}
