@media screen and (min-width: 800px) {
    body {
        overflow: hidden;
        background-color: #FFFFFF;
    }
}

#communication-panel {
	max-height: 100%;

	border-right: 1px solid lightgrey;

	background-color: #F5F5F5;
}

#select-container {
	background-color: #F0C0B6;
	border: none;
}

#select-container > select {

	font-size: 18px;

    box-shadow: none;
    background: transparent;
    -webkit-appearance: none;

    width: 87%;

    border: none;
    border-right: 0.5px solid #DCDCDC;
	border-radius: 0px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#timer {

	font-size: 16px;

	border-top: 0.5px solid lightgrey;
	border-bottom: 0.5px solid lightgrey;

	background-color: #F5F5F5;

	padding-left: 20px;
}

#communication-window {
	font-family: 'Ubuntu Mono', monospace;
	
	resize: none;
	border: none;
}

.option {
	padding-left: 20px;
}

.option > label {
	margin-left: 5px;
}

.option > input[type=checkbox] {
	margin-top: 4px;
}

