body {
	background-color: #101010;
}

#title, #author, #text {
	color: #FAFAFA;
	font-family: 'IBM Plex Mono', monospace;
}

#title {
	font-weight: bold;
}

#author {
	font-style: italic;
}

#text {
	font-size: 16px;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}