:root {
    /* Default: Light theme */
    --background: #f5f5f5;
    --border: #c0c0c0;
    --border-top: #ffffff;
    --color: #000000;
    --focus: #ffff00;
    --scrollbar: #a0a0a0;


}
pre {
    font-family: 'Roboto', sans-serif;
    background : var(--background);
}
html, body {
    height: 100%;
    /* background :  #292b30; */
     background : var(--background);
     color: var(--color);
    font-family: 'Roboto', sans-serif;
}
.CodeMirror {
    height: 100%;
    width: 100%;
}

.Code {
    height: 70% !important;
    background-color: var(--background);
    border: var(--border) 2px solid;
    border-top: var(--border-top) 0px solid;
    font-family: monospace;
    height: 100%;
    width: 100%;
    color: var(--color);
    direction: ltr;
}

.Code pre {
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    margin: 0px;
    height: 100%;
    font-size: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Output {
    height: 30% !important;
    background-color: var(--background);
    border: var(--border) 2px solid;
    border-top: var(--border-top) 0px solid;
    font-family: monospace;
    height: 100%;
    width: 100%;
    color: var(--color);
    direction: ltr;
}

.Output pre {
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    margin: 0px;
    height: 100%;
    overflow-y: scroll;
    white-space: pre-wrap;
    color: var(--color);
}

.Simulation {
    height: 80% !important;
}

.Controls {
    height: 20% !important;
}

.Terminal {
    height: 30% !important;
    background-color: var(--background);
    border-top: var(--border) 3px solid;
    font-family: monospace;
    height: 100%;
    width: 100%;
    color: var(--color);
    direction: ltr;
}

.Terminal pre {
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    margin: 0px;
    color: var(--color);
}

.focus {
    background-color: var(--focus);
}

body, html, .container-fluid {
    height: 100%;
}

body {
    overflow-x: hidden; 
    color: var(--color);
    background-color: var(--background);
}

pre {
    color: var(--color);
}

.preview-size {
    height: 25% !important;
}

.editor-size {
    height: 70% !important;
}

label {
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
    color: var(--color);
}

[type="checkbox"]
{
    vertical-align:middle;
}

[type="range"]
{
    vertical-align:middle;
}

#actions {
    background-color: var(--background);
    border-left: var(--border) 1px solid;
    border-right: var(--border) 1px solid;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.bt {
    border-top: var(--border) 1px solid;
}



button {
    border-radius: 5px;
    background-color: #de223e;
    color: #FAFAFA;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 0px;
}

button:hover {
    background-color: #c22235;
}

button:active {
    background-color: #9f1d2c;
}

button:focus {
    outline: none;
}

canvas {
    border: 1px solid var(--border);
}

::-webkit-scrollbar {
    background: var(--background);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
}


#pfg, #pbg, #fg, #bg {
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
}

#panel {
    border-right: var(--border) 1px solid;
    border-bottom: var(--border) 1px solid;
}


#simulation {
    border-bottom: var(--border) 1px solid;
}

#osv-size {
    font-size: 11px;
    text-align: right;
}

/* a {
    color: white !important;
    text-decoration: none !important;
} */