/*@import url('https://fonts.googleapis.com/css?family=Kanit:400,400i,500|Open+Sans:300|Oswald:700|PT+Mono');*/


@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit/Kanit-Regular.ttf") format("woff"),
         url("../fonts/Kanit/Kanit-Italic.ttf") format("woff"),
         url("../fonts/Kanit/Kanit-Medium.ttf") format("woff");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf") format("woff");
}

@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald/Oswald-Bold.ttf") format("woff");
}

@font-face {
    font-family: "PT Mono";
    src: url("../fonts/PT_Mono/PTM55FT.ttf") format("woff");
}


body {
    font-family: 'Kanit', sans-serif;
}

nav {
    border-bottom: 1px solid lightgrey !important;
}

/*.row > div {*/
    /*margin-bottom: 3% !important;*/
/*}*/

#logo {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

.prod {
    font-size: 14px;
    font-style: italic;
}

.icons {
    font-size: 24px;
}

/*.nav-link {*/
    /*color: black;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size: 16px;*/
/*}*/


.textarea-container {
    position:relative;
    height: 80%;
    width: 80%;
}

.textarea-container textarea {
    height: 100%;
    width: 100%;
    font-family: 'PT Mono', monospace;
    font-size: 13px;
}

.textarea-container button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.top {
    margin-top: 3%;
}

.feed {
    border: 1px lightgrey;
}

.time {
    text-align: right !important;
    padding-right: 30px !important;
}

#status {
    color: red;
}

#refresh {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#stream {
    display: block !important;
}

#split_span {
    font-size: 14px !important;
    color: #535353;
}