@import url('https://fonts.googleapis.com/css?family=Quicksand|Molle:400i|Roboto:400|Ubuntu+Mono|IBM+Plex+Mono:400,400i,700');

* {
    box-sizing: border-box
    
}

html, body {
    height: 100%;
    /* background :  #292b30; */
     background :  #292b30;
    color: white;
    font-family: 'Roboto', sans-serif;
}
pre {
    font-family: 'Roboto', sans-serif;
    background: white;
}

.test {
    border: 1px solid black;
}
