/*@import url('https://fonts.googleapis.com/css?family=Kanit:400,400i,500|Open+Sans:300|Oswald:700|PT+Mono');*/


@font-face {
    font-family: "Kanit";
    src: url("./fonts/Kanit/Kanit-Regular.ttf") format("woff"),
         url("./fonts/Kanit/Kanit-Italic.ttf") format("woff"),
         url("./fonts/Kanit/Kanit-Medium.ttf") format("woff");
}

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/Open_Sans/OpenSans-Light.ttf") format("woff");
}

@font-face {
    font-family: "Oswald";
    src: url("./fonts/Oswald/Oswald-Bold.ttf") format("woff");
}

@font-face {
    font-family: "PT Mono";
    src: url("./fonts/PT_Mono/PTM55FT.ttf") format("woff");
}


body {
    font-family: 'Kanit', sans-serif;
}

nav {
    border-bottom: 1px solid lightgrey !important;
}

.miss {
    font-size: 24px !important;
}

.icons {
    font-size: 24px;
}

/*.nav-link {*/
    /*color: black;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-size: 16px;*/
/*}*/



.textarea-container {
    position:relative;
    height: 80%;
    width: 80%;
    margin-bottom: 2%;
}

.textarea-container textarea {
    height: 100%;
    width: 100%;
    font-family: 'PT Mono', monospace;
    font-size: 13px;
}

.textarea-container button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.opts {
    margin-bottom: 60% !important;
}

.feed {
    border: 1px solid #ACACAC;
}




#logo {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

#prod {
    font-size: 14px;
    font-style: italic;
}



#status {
    color: red;
}

#clear {
    border: 1px solid grey;
    border-radius: 7px;
    color: #585858;
}

#clear:focus {
    outline: 0;
}

#clear:active {
    border: 1px solid black;
    color: black;
    outline: 0;
}




#stream {
    display: block !important;
}



.split-el {
    font-size: 14px !important;
    color: #4a4a4a;
}


/* Bootstrap-esque add-ons. */
.w-80 {
    width: 80% !important;
}

.w-150 {
    width: 150% !important;
}

.right-align {
    alignment: right !important;
    text-align: right !important;
}

/* TESTING. */
.test {
    border: 1px solid black;
}