<!--
Got the navbar from here -
https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c
-->
<nav class="navbar navbar-expand-md navbar-expand-lg umd">
    <div class="container">

        <!--Logo-->
        <div id="brand">
            <h1>
                <a href="/" id="logo" class="navbar-brand">
                    ENES100
                </a>
            </h1>
        </div>

        <!--Hamburger Button-->
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon mt-3">☰</span>
        </button>

        <!--Collapsible Content-->
        <div id="collapsibleNavbar" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/libraries/">Libraries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/simulatorweb">Simulator</a>
                </li>
                <li class="nav-item">
                    <!--Open the form in a new tab-->
                    <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdXWXOnOTWa36rGPVNb_Lwf3SM33tvP5vrPOkl91RTcwjdZQA/viewform?usp=pp_url&entry.2072371640=N/A" rel="noopener noreferrer" target="_blank">Bug Report</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
