<!--
Got the navbar from here -
https://medium.com/wdstack/bootstrap-4-custom-navbar-1f6a2da5ed3c
-->
<nav class="navbar navbar-expand-md navbar-expand-lg umd">
    <div class="container">

        <!--Logo-->
        <div id="brand">
            <a href="/" id="logo" class="navbar-brand">
                ENES100
            </a>
        </div>

        <!--Hamburger Button-->
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon mt-3">☰</span>
        </button>

        <!--Collapsible Content-->
        <div id="collapsibleNavbar" class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/libraries/">Libraries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/simulator/">Simulator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
$(document).ready(() => {
    const API_KEY = 'AIzaSyBipMvUUn6vzdTqA0PsvNwskMY-F7BwtP4'

    let $logo = $('#logo')

    if (Math.random() >= 0.2) {
        $.get(`https://www.googleapis.com/webfonts/v1/webfonts?key=${API_KEY}`, data => {
            data = data.items.filter(font => font.category == 'display' || font.category == 'handwriting')
            let randomFont = data[Math.floor(Math.random() * data.length)]
            let fontFace = new FontFace(randomFont.family, `url(${randomFont.files.regular})`)
            document.fonts.add(fontFace)
            $logo.css('font-family', `"${randomFont.family}", cursive`)
        })
    }

    if (Math.random() >= 0.99) {
        $logo.text('LTF > UTF')
    }
})
</script>