<!DOCTYPE html>
<html lang="en">
    <head>

        <!--Metadata-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property='og:image' content='./img/og_image.png'/>
        <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT">
        <meta http-equiv="Pragma" content="no-cache">
        <meta charset="utf-8">

        <title>{{ page.title }}</title>

        <!--Favicons-->
        <link rel="shortcut icon" href="/favicons/favicon.ico">
        <link rel="image_src" href="./img/og_image.png" / >
        <link rel="icon" sizes="16x16 32x32 64x64" href="/favicons/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-192.png">
        <link rel="icon" type="image/png" sizes="160x160" href="/favicons/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicons/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png">
        <link rel="apple-touch-icon" href="/favicons/favicon-57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/favicons/favicon-144.png">
        <meta name="msapplication-config" content="/favicons/browserconfig.xml">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/generics.css">
        {% for css_link in page.custom_css %}
        <link rel="stylesheet" href="/css/{{ css_link }}">
        {% endfor %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.js"></script>

        {% for js_link in page.custom_js %}
        <script src="/js/{{ js_link }}"></script>
        {% endfor %}

    </head>

    <body class="full">
        {{ content }}
    </body>
</html>